@using ControlCaducidadesPromotor.Basicos
@model List<ProductoJoinProductoConDetallesJoinDetalleProductoViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MiLayout.cshtml";
}


@section MisFuncionesJavaScript
{
    <script type="text/javascript">
        'use strict';
        var x = $(document);
        x.ready(inicializarEventos);

        function inicializarEventos() {
            EstilizarConDataTables('#misProductos');
        }

        function EstilizarConDataTables(nomTabla) {
            //https://datatables.net/manual/data/
            var objetoDataTable = $(nomTabla).DataTable();  //Genero un objeto dataTable
            objetoDataTable.destroy(); //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>

            if (nomTabla === '#misProductos') {
                $(nomTabla).DataTable({
                    language: {
                        url: '../Scripts/DataTables/Spanish.json'
                    },                  //https://datatables.net/manual/options
                    //searching: false, //https://datatables.net/reference/option/columns.searchable
                    order: [],      //https://datatables.net/reference/option/order
                    columnDefs: [{ searchable: false, targets: [0, 3] }  //https://datatables.net/reference/option/columnDefs
                        //{ visible: false, targets: [0, 3], }
                    ]                      
                });
            }
        }
    </script>
}

@section Contenido{

    <h3>Ver productos</h3>



    <div class="table-responsive">
        <table id="misProductos" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo de barras</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Producto_Id.ToString()</td>
                            <td>@item.Producto_CodigoBarras</td>
                            <td>@item.DetalleProducto_Nombre</td>
                            <td>@item.Producto_Activo</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

}

@section Footer{
    <h5>El footer</h5>
}


