
@{
    ViewBag.Title = "AgregarProductosATienda";
    Layout = "~/Views/Shared/MiLayout.cshtml";
}


@section MisFuncionesJavaScript
{
    <script type="text/javascript">
        'use strict';
        var x = $(document);
        x.ready(InicializarEventos);

        function InicializarEventos() {
            RecuperarYMostrarTiendasDeUsuario();
            EstilizarConDataTables('#miTablaProductosEnTienda');  
            EstilizarConDataTables('#miTablaProductosDisponibles');
            DeshabilitarBtnAgregar();
            $('#btnAgregarTienda').click(AgregarProductosATienda);
        }


        function RecuperarYMostrarTiendasDeUsuario() {
            $('#tiendasRecuperadas').empty();

            //solicutud ajax sin parametros
            $.ajax({
                url: "/Tienda/RecuperarTiendasDeUsuario",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        html = '<div class="radio">';
                        html += '<label>';
                        html += '<input type="radio" ';
                        html += 'onclick="RecuperarProductosDeTiendaYProductosKNOPertenecenATienda(this)" ';
                        html += 'name = "radioTiendas" value = "' + item.Id + '"/>' + item.Nombre;                       
                        html += '</label> </div>';
                        $('#tiendasRecuperadas').append(html);
                    });
                    
                },
                error: function (errormessage) {
                    QuitarPropsDataTableYVaciar('#miTablaProductosEnTienda');
                    QuitarPropsDataTableYVaciar('#miTablaProductosDisponibles');
                    $('#tiendasRecuperadas').html('');

                    DeshabilitarBtnAgregar();
                    alert(errormessage.responseText);
                }
            });
        }


        function RecuperarProductosDeTiendaYProductosKNOPertenecenATienda(control) {
            RecuperarProductosDeTienda(control);
            RecuperarProductosKNoPertenecenATienda(control);
            DeshabilitarBtnAgregar();
        }


        function RecuperarProductosDeTienda(control) {
            //alert(control.value);            
            $.ajax({
                url: "/Tienda/RecuperarProductosDeTiendaXId?idTienda=" + control.value,
                //data: { 'idTienda': control.value },  // asegurate que asi se serialize un entero
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var objetoDataTable = $('#miTablaProductosEnTienda').DataTable();  //Genero un objeto dataTable
                    objetoDataTable.destroy();  //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>
                    $('#miTablaProductosEnTienda').hide();  
                    $('#miTablaProductosEnTienda tbody').empty();  //destruyo el contenido
                    var html = '';

                    $.each(result, function (key, item) {
                        var miFechaAlta = new Date(parseInt(item.Almacena_FechaAlta.substr(6)));
                        var miFechaModificacion = new Date(parseInt(item.Almacena_FechaModificacion.substr(6)));

                        html = '<tr>';
                        html += '<td>' + item.Almacena_IdTienda + '</td>'; /*era style="display:none;"*/
                        html += '<td>' + item.Almacena_IdProducto + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + miFechaAlta + '</td>';  /*style = "display:none;"*/
                        html += '<td>' + miFechaModificacion + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + item.Producto_Id + '</td>';  /*style = "display:none;"*/
                        html += '<td>' + item.Producto_CodigoBarras + '</td>';
                        html += '<td>' + item.ProductoConDetalles_IdProducto + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + item.ProductoConDetalles_IdDetalleProducto + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + item.DetalleProducto_Id + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + item.DetalleProducto_Nombre + '</td>';
                        html += '<td>' + item.DetalleProducto_IdUsuarioAlta + '</td>';  /*style = "display:none;"*/

                        html += '</tr>';

                        $('#miTablaProductosEnTienda tbody').append(html);
                    });

                    $('#miTablaProductosEnTienda').show(); 
                    EstilizarConDataTables('#miTablaProductosEnTienda');
                },
                error: function (errormessage) {
                    QuitarPropsDataTableYVaciar('#miTablaProductosEnTienda');
                    QuitarPropsDataTableYVaciar('#miTablaProductosDisponibles');
                    $('#tiendasRecuperadas').html('');

                    DeshabilitarBtnAgregar();
                    alert(errormessage.responseText);
                }
            })
        }


        function RecuperarProductosKNoPertenecenATienda(control) {
            $.ajax({
                url: "/Tienda/RecuperarProductosKNoPertenecenATienda?idTienda=" + control.value,
                //data: { 'idTienda': control.value },  // asegurate que asi se serialize un entero
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var objetoDataTable = $('#miTablaProductosDisponibles').DataTable();  //Genero un objeto dataTable
                    objetoDataTable.destroy();  //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>
                    $('#miTablaProductosDisponibles').hide();  
                    $('#miTablaProductosDisponibles tbody').empty();  //destruyo el contenido

                    var html = '';

                    $.each(result, function (key, item) {   
                        html = '<tr>';
                        html += '<td><input type="checkbox" id="idCheckBox' + item.Producto_Id + '" onClick="onClickEnCheckBox(this)"/></td>'; 
                        html += '<td>' + item.Producto_Id + '</td>';
                        html += '<td>' + item.Producto_CodigoBarras + '</td>';
                        html += '<td>' + item.ProductoConDetalles_IdProducto + '</td>';
                        html += '<td>' + item.ProductoConDetalles_IdDetalleProducto + '</td>';
                        html += '<td>' + item.ProductoConDetalles_Activo+'</td>';
                        html += '<td>' + item.DetalleProducto_Id + '</td>';
                        html += '<td>' + item.DetalleProducto_Nombre + '</td>';
                        html += '<td>' + item.DetalleProducto_Activo+'</td>';

                        html += '</tr>';

                        $('#miTablaProductosDisponibles tbody').append(html);
                    });

                    $('#miTablaProductosDisponibles').show(); 
                    EstilizarConDataTables('#miTablaProductosDisponibles');
                },
                error: function (errormessage) {
                    QuitarPropsDataTableYVaciar('#miTablaProductosEnTienda');
                    QuitarPropsDataTableYVaciar('#miTablaProductosDisponibles');
                    $('#tiendasRecuperadas').html('');

                    DeshabilitarBtnAgregar();
                    alert(errormessage.responseText);
                }
            })
        }

        function EstilizarConDataTables(nomTabla) {
            //https://datatables.net/manual/data/
            var objetoDataTable = $(nomTabla).DataTable();  //Genero un objeto dataTable
            objetoDataTable.destroy(); //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>
            
            if (nomTabla === '#miTablaProductosEnTienda') {
                $(nomTabla).DataTable({
                    language: {
                        url: '../Scripts/DataTables/Spanish.json'
                    },
                    columnDefs: [{ visible: false, targets: [0, 1, 2, 3, 4, 6, 7, 8, 10] },
                    { searchable: false, targets: [0, 1, 2, 3, 4, 6, 7, 8, 10] }] //https://datatables.net/reference/option/columns.searchable                    
                });
            }

            if (nomTabla === '#miTablaProductosDisponibles') {
                $(nomTabla).DataTable({
                    language: {
                        url: '../Scripts/DataTables/Spanish.json'
                    },
                    columnDefs: [{ visible: false, targets: [1, 3, 4, 5, 6, 8] },
                                 { searchable: false, targets: [0, 1, 3, 4, 5, 6, 8] }] //https://datatables.net/reference/option/columns.searchable
                });
            }

        }

        function DeshabilitarBtnAgregar() {
            $('#btnAgregarTienda').attr('disabled', 'disabled');
        }

        function HabilitarBtnAgregar() {
            $('#btnAgregarTienda').removeAttr('disabled');
        }

        function onClickEnCheckBox(control) {
            //http://www.forosdelweb.com/f179/delimitar-funcion-jquery-each-recorrer-tablas-1106756/
            var numChkBoxesSeleccionados = 0;
            var i;
            for (i = 1; i < document.getElementById('miTablaProductosDisponibles').rows.length; i++) {
                if (document.getElementById('miTablaProductosDisponibles').rows[i].cells[0].childNodes[0].checked) {
                    numChkBoxesSeleccionados++;
                }
            }

            if (numChkBoxesSeleccionados > 0) {
                HabilitarBtnAgregar();
            }

            else {
                DeshabilitarBtnAgregar();
            }
            
        }


        function AgregarProductosATienda() {
            AniadirFilasATablaProductosEnTienda();

            //Recorrer la tabla de los productos que ya están en tienda
            var i;
            var numeroDeFilasEnTablaProductosEnTienda;
            numeroDeFilasEnTablaProductosEnTienda = document.getElementById('miTablaProductosEnTienda').rows.length;

            var arregloProductosEnTienda = new Array();
            for (i = 1; i < numeroDeFilasEnTablaProductosEnTienda; i++) {  //la fila 0 de la tabla viene siendo la del titulo de la columna
                var objInteligente = new FechaHoraSinMiliSegundos('30/09/2020 09:50:47 p.m.'); //Este objeto solo es para que me proporcione herramientas de trabajo con fechas

                var valorEnNodo = document.getElementById('miTablaProductosEnTienda').rows[i].cells[2].childNodes[0].nodeValue;
                var fa = new Date(valorEnNodo);
                //1985-9-15T23:59:59
                var objetoDateAlmacena_FechaAlta = objInteligente.FuckYou(fa);
                

                valorEnNodo = document.getElementById('miTablaProductosEnTienda').rows[i].cells[3].childNodes[0].nodeValue;
                var fm = new Date(valorEnNodo);
                var objetoDateAlmacena_FechaModificacion = objInteligente.FuckYou(fm);

                var item = {
                    Almacena_IdTienda: document.getElementById('miTablaProductosEnTienda').rows[i].cells[0].childNodes[0].nodeValue,
                    Almacena_IdProducto: document.getElementById('miTablaProductosEnTienda').rows[i].cells[1].childNodes[0].nodeValue,
                    Almacena_FechaAlta: objetoDateAlmacena_FechaAlta, //document.getElementById('miTablaProductosEnTienda').rows[i].cells[2].childNodes[0].nodeValue,
                    Almacena_FechaModificacion: objetoDateAlmacena_FechaModificacion,  //document.getElementById('miTablaProductosEnTienda').rows[i].cells[3].childNodes[0].nodeValue,
                    Producto_Id: document.getElementById('miTablaProductosEnTienda').rows[i].cells[4].childNodes[0].nodeValue,
                    Producto_CodigoBarras: document.getElementById('miTablaProductosEnTienda').rows[i].cells[5].childNodes[0].nodeValue,
                    ProductoConDetalles_IdProducto: document.getElementById('miTablaProductosEnTienda').rows[i].cells[6].childNodes[0].nodeValue,
                    ProductoConDetalles_IdDetalleProducto: document.getElementById('miTablaProductosEnTienda').rows[i].cells[7].childNodes[0].nodeValue,
                    DetalleProducto_Id: document.getElementById('miTablaProductosEnTienda').rows[i].cells[8].childNodes[0].nodeValue,
                    DetalleProducto_Nombre: document.getElementById('miTablaProductosEnTienda').rows[i].cells[9].childNodes[0].nodeValue,
                    DetalleProducto_IdUsuarioAlta: document.getElementById('miTablaProductosEnTienda').rows[i].cells[10].childNodes[0].nodeValue
                };

                arregloProductosEnTienda.push(item);
            }



            $.ajax({
                url: "/Tienda/AgregarProductosATienda",
                data: JSON.stringify(arregloProductosEnTienda),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == "ok") {
                         //Obtengo el control radio seleccionado
                        var inputsRadioConNameRadioTienda = document.getElementsByName("radioTiendas");
                        var j;
                        for (j = 0; j < inputsRadioConNameRadioTienda.length; j++) {
                            var itemRadio = inputsRadioConNameRadioTienda[j];
                            if (itemRadio.checked) {
                                RecuperarProductosDeTiendaYProductosKNOPertenecenATienda(itemRadio);
                                break;
                            }
                        }
                    }

                    else {
                        QuitarPropsDataTableYVaciar('#miTablaProductosEnTienda');
                        QuitarPropsDataTableYVaciar('#miTablaProductosDisponibles');                        
                        $('#tiendasRecuperadas').html('');

                        DeshabilitarBtnAgregar();
                        alert(result);
                    }
                },
                beforeSend: function () {
                    $('#imagenWaiting').attr('style', '');

                },

                complete: function () {
                    $('#imagenWaiting').attr('style', 'display:none');
                },
                error: function (errormessage) {
                    QuitarPropsDataTableYVaciar('#miTablaProductosEnTienda');
                    QuitarPropsDataTableYVaciar('#miTablaProductosDisponibles');
                    $('#tiendasRecuperadas').html('');

                    DeshabilitarBtnAgregar();
                    alert(errormessage.responseText);                   
                }
            });

            return false;
        }


        function AniadirFilasATablaProductosEnTienda() {
            //Desconectar de las propiedades dataTable para agregar mas adelante filas a la tabla
            var objetoDataTable = $('#miTablaProductosEnTienda').DataTable(); //Genero un objeto dataTable
            objetoDataTable.destroy(); //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>
            $('#miTablaProductosEnTienda').hide(); 

            //Desconecto de las propiedades dataTable 
            $('#miTablaProductosDisponibles').DataTable().destroy();
            $('#miTablaProductosDisponibles').hide(); 

            //recuperar idTienda
            var idTiendaActual;
            var inputsRadioConNameRadioTienda = document.getElementsByName("radioTiendas");
            var j;
            for (j = 0; j < inputsRadioConNameRadioTienda.length; j++) {
                var itemRadio = inputsRadioConNameRadioTienda[j];
                if (itemRadio.checked) {
                    idTiendaActual = itemRadio.value;
                    break;
                }
            }


            //Comenzar a recorrer la tabla "miTablaProductosDisponibles" e ir insertando a tabla miTablaProductosEnTienda
            var i;
            var numeroDeFilasEnTablaProductosDisponibles;
            numeroDeFilasEnTablaProductosDisponibles = document.getElementById('miTablaProductosDisponibles').rows.length;

            //La tabla productosEnTienda tiene las sigs columnas
            //Almacena_IdTienda , Almacena_IdProducto ,Almacena_FechaAlta, Almacena_FechaModificacion , Producto_Id , Producto_CodigoBarras , ProductoConDetalles_IdProducto
            //ProductoConDetalles_IdDetalleProducto , DetalleProducto_Id , DetalleProducto_Nombre , DetalleProducto_IdUsuarioAlta

            //La tabla productosDisponibles tiene las sigs columnas
            //checkbox (la primera columna) , Producto_Id , Producto_CodigoBarras , ProductoConDetalles_IdProducto , ProductoConDetalles_IdDetalleProducto ,
            //ProductoConDetalles_Activo , DetalleProducto_Id , DetalleProducto_Nombre , DetalleProducto_Activo

            //la fila 0 de la tabla viene siendo la del titulo de la columna
            for (i = 1; i < numeroDeFilasEnTablaProductosDisponibles; i++) {
                var textoProductoId = document.getElementById('miTablaProductosDisponibles').rows[i].cells[1].childNodes[0].nodeValue;
                var idChkBoxARecuperar = 'idCheckBox' + textoProductoId;
                if (document.getElementById(idChkBoxARecuperar).checked) {
                    //Los meses en el objeto Date empiezan con cero
                    var fechaTonta = new Date(1985, 8, 15, 23, 59, 59, 0);

                    var miHtml = '<tr><td>' + idTiendaActual + '</td>';
                    miHtml += '<td>' + document.getElementById('miTablaProductosDisponibles').rows[i].cells[1].childNodes[0].nodeValue + '</td>';
                    miHtml += '<td>' + fechaTonta + '</td>';
                    miHtml += '<td>' + fechaTonta + '</td>';

                    miHtml += '<td>' + document.getElementById('miTablaProductosDisponibles').rows[i].cells[1].childNodes[0].nodeValue + '</td>';
                    miHtml += '<td>' + document.getElementById('miTablaProductosDisponibles').rows[i].cells[2].childNodes[0].nodeValue + '</td>';//Producto_CodigoBarras
                    miHtml += '<td>' + document.getElementById('miTablaProductosDisponibles').rows[i].cells[1].childNodes[0].nodeValue + '</td>';//ProductoConDetalles_IdProducto
                    miHtml += '<td>' + document.getElementById('miTablaProductosDisponibles').rows[i].cells[4].childNodes[0].nodeValue + '</td>'; //ProductoConDetalles_IdDetalleProducto
                    miHtml += '<td>' + document.getElementById('miTablaProductosDisponibles').rows[i].cells[6].childNodes[0].nodeValue + '</td>';//DetalleProducto_Id
                    miHtml += '<td>' + document.getElementById('miTablaProductosDisponibles').rows[i].cells[7].childNodes[0].nodeValue + '</td>'; //DetalleProducto_Nombre
                    miHtml += '<td>' + '0' + '</td>';
                    miHtml += '</tr>';

                    $('#miTablaProductosEnTienda tbody').append(miHtml);
                }
            }

        } 


        function QuitarPropsDataTableYVaciar(nomTabla) {  //recuerda que nomTabla debe venir en formato: #nomTabla
            var objetoDataTable = $(nomTabla).DataTable();
            objetoDataTable.destroy(); //desconecto la tabla de las propiedades datatabla, paso necesario para modificar la tabla
            $(nomTabla).html('');
        }


    </script>
}

@section Contenido
{
    <h3>Agregar productos a tienda</h3>

    <div class="row">
        <div class="col-sm-2">
            <h4>Mis tiendas</h4>
            <div id="tiendasRecuperadas"></div>
        </div>

        <div class="col-sm-5">
            <h4>Productos en tienda</h4>

            <div class="table-responsive">
                @*NO le asignes clases bootstrap a la table porque DataTables la personalizara*@
                @*Despues vi que si funciona usar clases bootstrap 3  https://datatables.net/examples/styling/bootstrap*@
                <table id="miTablaProductosEnTienda" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Almacena_IdTienda</th>  @*era th style="display:none;"*@
                            <th>Almacena_IdProducto</th> @*era th style="display:none;"*@
                            <th>Almacena_FechaAlta</th>
                            <th>Almacena_FechaModificacion</th>
                            <th>Producto_Id</th> @*era th style="display:none;"*@
                            <th>Producto_CodigoBarras</th>
                            <th>ProductoConDetalles_IdProducto</th> @*era th style="display:none;"*@
                            <th>ProductoConDetalles_IdDetalleProducto</th> @*era th style="display:none;"*@
                            <th>DetalleProducto_Id</th> @*era th style="display:none;"*@
                            <th>Producto_Nombre </th>
                            <th>DetalleProducto_IdUsuarioAlta</th>  @*era th style="display:none;"*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>


        <div class="col-sm-5">
            <h4> Productos disponibles</h4>
            <div class="table-responsive">
                @*NO le asignes clases bootstrap a la table porque DataTables la personalizara*@
                @*Despues vi que si funciona usar clases bootstrap 3 https://datatables.net/examples/styling/bootstrap*@
                <table id="miTablaProductosDisponibles" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Selección</th>
                            <th>Producto_Id</th>
                            <th>Producto_CodigoBarras</th>
                            <th>ProductoConDetalles_IdProducto</th>
                            <th>ProductoConDetalles_IdDetalleProducto</th>
                            <th>ProductoConDetalles_Activo</th>
                            <th>DetalleProducto_Id</th>
                            <th>DetalleProducto_Nombre</th>
                            <th>DetalleProducto_Activo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            @* diferencia entre display vs hiden https://www.w3schools.com/css/css_display_visibility.asp*@
            <img id="imagenWaiting" src="~/Content/MisImagenes/imgWaiting.gif" class="img-responsive center-block" style="display:none" />
        </div>
        <div class="col-sm-4"></div>
    </div>


    <div class="row" style="margin-top:30px">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button"  id="btnAgregarTienda" class="btn btn-primary">Agregar a tienda</button>
            </div>
        </div>
    </div>
}


@section Footer
{ <p>El footer</p>
}

