
@{
    ViewBag.Title = "AgregarCaducidad";
    Layout = "~/Views/Shared/MiLayout.cshtml";
}



@section MisFuncionesJavaScript
{
    <script type="text/javascript">
        'use strict';
        var x = $(document);
        x.ready(InicializarEventos);

        function InicializarEventos() {
            RecuperarYMostrarTiendasDeUsuario()
            EstilizarConDataTables('#miTablaProductosEnTienda');

            $(".form_date").datetimepicker({
                language: 'es',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 0,
                startView: 2,
                minView: 2,
                forceParse: 0
            });


            $('#btnAgregarCaducidad').click(AgregarNuevaCaducidad);
        }



        function RecuperarYMostrarTiendasDeUsuario() {
            $('#tiendasRecuperadas').empty();

            //solicutud ajax sin parametros
            $.ajax({
                url: "/Tienda/RecuperarTiendasDeUsuario",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        html = '<div class="radio">';
                        html += '<label>';
                        html += '<input type="radio" ';
                        html += 'onclick="RecuperarProductosDeTienda(this)" ';
                        html += 'name = "radioTiendas" value = "' + item.Id + '"/>' + item.Nombre;
                        html += '</label> </div>';
                        $('#tiendasRecuperadas').append(html);
                    });

                },
                error: function (errormessage) {
                    QuitarPropsDataTableYVaciar('#miTablaProductosEnTienda');
                    $('#tiendasRecuperadas').html('');

                    DeshabilitarBtnAgregar();
                    alert(errormessage.responseText);
                }
            });
        }


        function RecuperarProductosDeTienda(control) {
            //alert(control.value);
            $.ajax({
                url: "/Tienda/RecuperarProductosDeTiendaXId?idTienda=" + control.value,
                //data: { 'idTienda': control.value },  // asegurate que asi se serialize un entero
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var objetoDataTable = $('#miTablaProductosEnTienda').DataTable();  //Genero un objeto dataTable
                    objetoDataTable.destroy();  //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>
                    $('#miTablaProductosEnTienda').hide();
                    $('#miTablaProductosEnTienda tbody').empty();  //destruyo el contenido
                    var html = '';

                    $.each(result, function (key, item) {
                        var miFechaAlta = new Date(parseInt(item.Almacena_FechaAlta.substr(6)));
                        var miFechaModificacion = new Date(parseInt(item.Almacena_FechaModificacion.substr(6)));

                        html = '<tr>';
                        html += '<td>' + '<input type="checkbox" id="idCheckBox' + item.Producto_Id + '"/></td>';
                        html += '<td>' + item.Almacena_IdTienda + '</td>'; /*era style="display:none;"*/
                        html += '<td>' + item.Almacena_IdProducto + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + miFechaAlta + '</td>';  /*style = "display:none;"*/
                        html += '<td>' + miFechaModificacion + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + item.Producto_Id + '</td>';  /*style = "display:none;"*/
                        html += '<td>' + item.Producto_CodigoBarras + '</td>';
                        html += '<td>' + item.ProductoConDetalles_IdProducto + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + item.ProductoConDetalles_IdDetalleProducto + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + item.DetalleProducto_Id + '</td>'; /*style = "display:none;"*/
                        html += '<td>' + item.DetalleProducto_Nombre + '</td>';
                        html += '<td>' + item.DetalleProducto_IdUsuarioAlta + '</td>';  /*style = "display:none;"*/

                        html += '</tr>';

                        $('#miTablaProductosEnTienda tbody').append(html);
                    });

                    $('#miTablaProductosEnTienda').show();
                    EstilizarConDataTables('#miTablaProductosEnTienda');
                },
                error: function (errormessage) {
                    QuitarPropsDataTableYVaciar('#miTablaProductosEnTienda');
                    $('#tiendasRecuperadas').html('');

                    DeshabilitarBtnAgregar();
                    alert(errormessage.responseText);
                }
            })
        }


        function EstilizarConDataTables(nomTabla) {
            //https://datatables.net/manual/data/
            var objetoDataTable = $(nomTabla).DataTable();  //Genero un objeto dataTable
            objetoDataTable.destroy(); //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>

            if (nomTabla === '#miTablaProductosEnTienda') {
                $(nomTabla).DataTable({
                    language: {
                        url: '../Scripts/DataTables/Spanish.json'
                    },
                    columnDefs: [{ visible: false, targets: [1, 2, 3, 4, 5, 7, 8, 9, 11] },
                    { searchable: false, targets: [0, 1, 2, 3, 4, 5, 7, 8, 9, 11] }] //https://datatables.net/reference/option/columns.searchable
                });
            }
        }


        function AgregarNuevaCaducidad() {
            $('#tiendasRecuperadas').hide();
            $('#controlesAdicionales').hide();
            $('#btnAgregarCaducidad').hide();

            //Desconecto de las propiedades DataTable para poder ocultar la tabla
            var objetoDataTable = $('#miTablaProductosEnTienda').DataTable();
            objetoDataTable.destroy(); //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>
            $('#miTablaProductosEnTienda').hide();


            var posiblesErrores = EstaSeleccionadoCheckBoxYEstaElegidaFechaYEstaElegidoNumeroUnidades();
            if (posiblesErrores.length > 0) {  //Verifico que selecciono algún checkBox, seleccioon fecha y captura un numero de unidades
                $('#tiendasRecuperadas').show();
                $('#controlesAdicionales').show();
                $('#miTablaProductosEnTienda').show();
                EstilizarConDataTables('#miTablaProductosEnTienda');
                $('#btnAgregarCaducidad').show();

                $('#textoModal p').text(posiblesErrores);
                $('#myModal').modal('show'); //https://stackoverflow.com/questions/13183630/how-to-open-a-bootstrap-modal-window-using-jquery
            }

            else {

                //Extraer info de la fecha, numero de unidades, tipo de unidad seleccionada
                var fechaDeCaducidad = $('#laFechaDeCaducidad').val();
                fechaDeCaducidad = fechaDeCaducidad.replace(' ', '/'); // si esta 15 Mayo 2020, regresa 15/Mayo 2020
                fechaDeCaducidad = fechaDeCaducidad.replace(' ', '/');  //Si esta 15/Mayo 2020, regresa 15/Mayo/2020
                fechaDeCaducidad = fechaDeCaducidad + ' 11:59:59 p.m.'; //La cadena queda en el formato 15/Mayo/2020 11:59:59 p.m.
                fechaDeCaducidad = SubstituirPalabraMesConNumero(fechaDeCaducidad); //La cadena queda en el formato 15/05/2021 11:59:59 p.m.

                var auxFechaDeCaducidad = new FechaHoraSinMiliSegundos(fechaDeCaducidad);

                var numeroDeUnidades = $('#numeroUnidades').val();
                var controlSelect = document.getElementById('tipoUnidad');
                var valorDeItemSeleccionado = controlSelect.options[controlSelect.selectedIndex].value;

                //Recorrer la lista de productos en tienda
                var i;
                var numeroDeFilasEnTablaProductosEnTienda;
                numeroDeFilasEnTablaProductosEnTienda = document.getElementById('miTablaProductosEnTienda').rows.length;

                var arregloDeProductosConFechaCaducidad = new Array();
                for (i = 1; i < numeroDeFilasEnTablaProductosEnTienda; i++) { //la fila 0 de la tabla viene siendo la del titulo de la columna
                    var textoProductoId = document.getElementById('miTablaProductosEnTienda').rows[i].cells[2].childNodes[0].nodeValue;
                    var idChkBoxARecuperar = 'idCheckBox' + textoProductoId;
                    //alert('elemeto recuperado' + idChkBoxARecuperar);
                    if (document.getElementById(idChkBoxARecuperar).checked) {
                        //crear tupla
                        var objetoASerializar = {
                            MiCaducaViewModel: {
                                IdProducto: document.getElementById('miTablaProductosEnTienda').rows[i].cells[2].childNodes[0].nodeValue,
                                IdDetalleProducto: document.getElementById('miTablaProductosEnTienda').rows[i].cells[9].childNodes[0].nodeValue,
                                IdTienda: document.getElementById('miTablaProductosEnTienda').rows[i].cells[1].childNodes[0].nodeValue,
                                IdUsuarioAlta: document.getElementById('miTablaProductosEnTienda').rows[i].cells[11].childNodes[0].nodeValue
                            },
                            MiPeriodoViewModel: {
                                FechaCaducidad: auxFechaDeCaducidad.GenerarEnSintaxisCadena(),
                                NumeroUnidades: numeroDeUnidades,
                            },
                            MiUnidadMedidaViewModel: {
                                Id: valorDeItemSeleccionado
                            },
                            MiTiendaViewModel: {
                                Supmza: 'supmza',
                                Manzana: 'manzana',
                                Lote: 'lote',
                                Calle: 'calle',
                                Nombre: 'nombre'
                            },
                            MiProductoViewModel: {
                                CodigoBarras: '???',
                                Nombre: '???'
                            }
                        };

                        arregloDeProductosConFechaCaducidad.push(objetoASerializar);
                    }
                }


                $.ajax({
                    url: "/Caducidad/InsertarNuevaCaducidad",
                    data: JSON.stringify(arregloDeProductosConFechaCaducidad),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#imagenWaiting').attr('style', 'display:none');

                        //alert(result);
                        $('#textoDeModal2 p').text(result);
                        $('#myModal2').modal('show'); //https://stackoverflow.com/questions/13183630/how-to-open-a-bootstrap-modal-window-using-jquery

                        $('#tiendasRecuperadas').show();
                        RecuperarYMostrarTiendasDeUsuario();
                        $('#miTablaProductosEnTienda tbody').empty();  //destruyo el contenido
                        $('#miTablaProductosEnTienda').show();
                        EstilizarConDataTables('#miTablaProductosEnTienda');
                        $('#controlesAdicionales').show();
                        $('#laFechaDeCaducidad').val('');
                        $('#numeroUnidades').val('');
                        document.getElementById('tipoUnidad').selectedIndex = '0';
                        $('#btnAgregarCaducidad').show();
                    },
                    beforeSend: function () {
                        $('#imagenWaiting').attr('style', '');
                    },

                    complete: function () {
                        //Called after runtime call success and error functions
                    },
                    error: function (errormessage) {
                        DeshabilitarBtnAgregar();
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        function SubstituirPalabraMesConNumero(texto) {
            if (texto.indexOf('Enero') != -1) {
                var nuevoTexto = texto.replace('Enero', '01');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Febrero') != -1) {
                var nuevoTexto = texto.replace('Febrero', '02');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Marzo') != -1) {
                var nuevoTexto = texto.replace('Marzo', '03');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Abril') != -1) {
                var nuevoTexto = texto.replace('Abril', '04');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Mayo') != -1) {
                var nuevoTexto = texto.replace('Mayo', '05');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Junio') != -1) {
                var nuevoTexto = texto.replace('Junio', '06');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Julio') != -1) {
                var nuevoTexto = texto.replace('Julio', '07');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Agosto') != -1) {
                var nuevoTexto = texto.replace('Agosto', '08');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Septiembre') != -1) {
                var nuevoTexto = texto.replace('Septiembre', '09');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Octubre') != -1) {
                var nuevoTexto = texto.replace('Octubre', '10');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Noviembre') != -1) {
                var nuevoTexto = texto.replace('Noviembre', '11');
                return (nuevoTexto);
            }

            else if (texto.indexOf('Diciembre') != -1) {
                var nuevoTexto = texto.replace('Diciembre', '12');
                return (nuevoTexto);
            }
        }



        function ContarCheckBoxesSeleccionados() {
            var numChkBoxesSeleccionados = 0;
            var i;
            for (i = 1; i < document.getElementById('miTablaProductosEnTienda').rows.length; i++) {
                if (document.getElementById('miTablaProductosEnTienda').rows[i].cells[0].childNodes[0].checked) {
                    numChkBoxesSeleccionados++;
                }
            }

            return (numChkBoxesSeleccionados);
        }


        function EstaSeleccionadoCheckBoxYEstaElegidaFechaYEstaElegidoNumeroUnidades() {
            var numeroDeCheckBoxsSeleccionado;
            var fechaDeCaducidad = $('#laFechaDeCaducidad').val();
            var numeroDeUnidades = $('#numeroUnidades').val();
            var posiblesErrores = '';


            numeroDeCheckBoxsSeleccionado = ContarCheckBoxesSeleccionados();
            if (numeroDeCheckBoxsSeleccionado < 1) {
                posiblesErrores += 'Es necesario seleccionar algún producto.';
            }


            if (fechaDeCaducidad.length < 5) {
                posiblesErrores += ' Es necesario elegir una fecha de caducidad.'
            }

            if (numeroDeUnidades.length >= 1) {
                if (isNaN(numeroDeUnidades)) {
                    posiblesErrores += ' Introduzca un valor válido para el numero de unidades.';
                }

                else {
                    if (parseInt(numeroDeUnidades) == 0) {
                        posiblesErrores += ' Introduzca un valor válido para el número de unidades.';
                    }
                }
            }

            else {
                posiblesErrores += ' Introduzca un valor válido para el numero de unidades.';
            }

            return (posiblesErrores);
        }


        function QuitarPropsDataTableYVaciar(nomTabla) {  //recuerda que nomTabla debe venir en formato: #nomTabla
            var objetoDataTable = $(nomTabla).DataTable();
            objetoDataTable.destroy(); //desconecto la tabla de las propiedades datatabla, paso necesario para modificar la tabla
            $(nomTabla).html('');
        }


        function DeshabilitarBtnAgregar() {
            $('#btnAgregarCaducidad').attr('disabled', 'disabled');
        }


    </script>
}


@section Contenido
{
    <h3>Agregar caducidad</h3>

    <div class="row">
        <div class="col-sm-2">
            <h4>Mis tiendas</h4>
            <div id="tiendasRecuperadas"></div>
        </div>

        <div class="col-sm-5">
            <h4>Productos en tienda</h4>

            <div class="table-responsive">
                @*NO le asignes clases bootstrap a la table porque DataTables la personalizara*@
                @*Despues vi que si funciona usar clases bootstrap 3  https://datatables.net/examples/styling/bootstrap*@
                <table id="miTablaProductosEnTienda" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Selección</th>
                            <th>Almacena_IdTienda</th>  @*era th style="display:none;"*@
                            <th>Almacena_IdProducto</th> @*era th style="display:none;"*@
                            <th>Almacena_FechaAlta</th>
                            <th>Almacena_FechaModificacion</th>
                            <th>Producto_Id</th> @*era th style="display:none;"*@
                            <th>Producto_CodigoBarras</th>
                            <th>ProductoConDetalles_IdProducto</th> @*era th style="display:none;"*@
                            <th>ProductoConDetalles_IdDetalleProducto</th> @*era th style="display:none;"*@
                            <th>DetalleProducto_Id</th> @*era th style="display:none;"*@
                            <th>Producto_Nombre </th>
                            <th>DetalleProducto_IdUsuarioAlta</th>  @*era th style="display:none;"*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>

        <div class="col-sm-5">
            <h4>Detalles</h4>
            <div id="controlesAdicionales">
                <div class="form-group">
                    <label for="dtp_input2" class="control-label">Fecha de caducidad</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control" id="laFechaDeCaducidad" size="16" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value="" /><br />
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="numeroUnidades" class="control-label">Número de unidades</label>
                            <input type="text" class="form-control" id="numeroUnidades" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="tipoUnidad" class="control-label">Tipo de unidad</label>
                            <select class="form-control" id="tipoUnidad">
                                <option value="1">Pieza</option>
                                <option value="2">Caja</option>
                                <option value="3">Tarima</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Verifica lo siguiente.</h4>
                </div>
                <div class="modal-body" id="textoModal">
                    <p class="text-danger">Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>


    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Felicitaciones</h4>
                </div>
                <div class="modal-body" id="textoDeModal2">
                    <p>Aqui va un texto para el modal</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            @* diferencia entre display vs hiden https://www.w3schools.com/css/css_display_visibility.asp*@
            <img id="imagenWaiting" src="~/Content/MisImagenes/imgWaiting.gif" class="img-responsive center-block" style="display:none" />
        </div>
        <div class="col-sm-4"></div>
    </div>


    <div class="row" style="margin-top:30px">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" id="btnAgregarCaducidad" class="btn btn-primary">Agregar caducidad</button>
            </div>
        </div>
    </div>
}


@section Footer
{ El footer
}

